<h1>Login as User</h1>

<form action="/session" method="POST">
    Loginname: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="Login">
</form>